/**
 * CSS for the CS142 Project 4, Problem 2 States component.
 * 
 * Since CSS uses a global name space for classes we should use names starting
 * with "cs142-states-" here.
 */
.states-container {
    width: 800px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.states-container input {
    padding: 5px;
}

.states-list {
    list-style-type: circle;
}