.cs142-topbar-appBar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;                
}

.userLogo {
  width: 45px;
  height: 40px;
  margin-right: 20px;
}

.signLogo {
  width: 45px;
  height: 40px;
  margin-left: 20px; 
}

.toolbar-left {
  display: flex;
  flex: 1;
}
.cs142-topbar-left{
  display: flex;
  margin-left: auto;
  padding: 10px;
}
.toolbar-right {
  margin-right: auto;
}
.logout{
  margin-left: 'auto';
}