.cs142-topbar-appBar {
  height: 60px;
  justify-content: "center";
}
.userLogo{
  width: 45px;
  height: 40px;
  margin-right: 20px;
}
.signLogo{
  width: 45px;
  height: 40px;
  padding-left: 20px;
}